mat-h1 {
    text-align: center;
}

button {
    width: 8em;
}

.bottonContent {
    position: absolute;
    right: 1.75em
}

.viewImageStyle {
    width: 320px; 
    height: 240px;
}

.maskingSlideToggleStyle {
    position: absolute;
    left: 1.5em;
}