mat-h1 {
    text-align: center;
}

mat-dialog-content {
    width: 20em;
}

mat-form-field {
    width: 100%;
}

button {
    width: 8em;
}

.bottonContent {
    position: absolute;
    right: 1.75em
}