<div class="bg_pattern Wavy"></div>
<div class="section">
<main class="main">
  <div class="content">
    <div hidden>
      <canvas id="canvas"></canvas>
    </div>
    <div class="title"><h1>人検知システム</h1></div>
    <div>
      <table class="table" cdk-table [dataSource]="cameraList">

        <!-- Position Column -->
        <ng-container cdkColumnDef="position">
          <th cdk-header-cell *cdkHeaderCellDef>No.</th>
          <td cdk-cell *cdkCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container cdkColumnDef="name">
          <th cdk-header-cell *cdkHeaderCellDef>部屋</th>
          <td cdk-cell *cdkCellDef="let element"> 
            
            <button mat-flat-button color="accent" type="button" (click)="openDialog(element.id, element.name)">
              {{ element.name }}
            </button> 
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container cdkColumnDef="weight">
          <th cdk-header-cell *cdkHeaderCellDef>混雑度</th>
          <td cdk-cell *cdkCellDef="let element">
            <mat-icon class="icon" *ngIf="element.weight >= 0.7">sentiment_very_dissatisfied</mat-icon>
            <mat-icon class="icon" *ngIf="0.5 <= element.weight && element.weight < 0.7">mood_bad</mat-icon>
            <mat-icon class="icon" *ngIf="0.3 <= element.weight && element.weight < 0.5">sentiment_satisfied</mat-icon>
            <mat-icon class="icon" *ngIf="element.weight < 0.3">sentiment_very_satisfied</mat-icon>
            
          </td>
        </ng-container>
      
        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

</main>
</div>